@model Car_Dealership.Models.News
@{
    ViewData["Title"] = "Home Page";
}


<div class="home-background">
    <div class="home-title">
        <h1 class="display-4">Welcome</h1>
        <p>The right place to find the right car</p>
    </div>
</div>




<div class="container">


    <br />
    <h1 class="mt-4" style="text-align:center">LATEST CARS</h1>
    <br />

    @for (int i = 0; i < 1; i++)
    {
        <div class="row mt-2">
            <div class="col-md-4">
                <div class="card latest-cars">
                    <img class="card-img-top" src="/img/Gclass.jpg">
                    <div class="card-body">
                        <h5 class="card-title">G-Class</h5>
                        <p class="card-text">$60.000</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card latest-cars">
                    <img class="card-img-top" src="/img/audi.jpg">
                    <div class="card-body">
                        <h5 class="card-title">AUDI SQ8 4.0 TFSI QUATTRO</h5>
                        <p class="card-text">$50.000</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card latest-cars">
                    <img class="card-img-top" src="/img/mercedes.jpg">
                    <div class="card-body">
                        <h5 class="card-title">S 400 D LONG 4MATIC AMG-LINE</h5>
                        <p class="card-text">$35.000</p>
                    </div>
                </div>
            </div>
        </div>
    }




 
        <div class="container">
            <div class="d-flex flex-row justify-content-center justify-content-around brands-logo">
                <div class="logo-box">
                    <img src="~/img/mercedes.png" alt="Mercedes-Benz">
                </div>
                <div class="logo-box">
                    <img src="img/bmw.png" alt="BMW">
                </div>
                <div class="logo-box">
                    <img src="img/audi.png" alt="Audi">
                </div>
                <div class="logo-box">
                    <img src="img/lambo.png" alt="Lamborghini">
                </div>
                <div class="logo-box">
                    <img src="img/volkswagen.png" alt="Volkswagen">
                </div>
                <div class="logo-box">
                    <img src="img/porsche.jpg" alt="Porsche">
                </div>
            </div>
        </div>
 



    

        <div class="containter">
            <h1 class="our-services" style="text-align:center">OUR SERVICES</h1>
            <div class="d-flex flex-row justify-content-center justify-content-around">
                <div class="col-md-4 text-center mb-5">
                    <i class="fas fa-tools fa-5x mt-3 mb-3"></i>
                    <h4>Repair</h4>

                </div>
                <div class="col-md-4 text-center">

                    <i class="fas fa-truck-loading fa-5x mt-3 mb-3"></i>
                    <h4>Car Transport</h4>
                </div>
                <div class="col-md-4 text-center">
                    <i class="fas fa-truck-loading fa-5x mt-3 mb-3"></i>
                    <h4>Replacement Part</h4>

                </div>
            </div>
        </div>



</div>
<script type='text/javascript'>



            // DO GET

    function ajaxGet() {

            $.ajax({
                type: "GET",
                url: "http://localhost:3000/user/allNews",
                success: function (result) {

                    $.each(result, function (key, value) {
                    @*  alert("Title: " + result[key].title + "; Description: " + result[key].description + ";");*@
                       console.log( result[key].image);
                    });
                    $.each(result, function (index, obj) {
                        var tr = $("<div class="left - side col" ></div>");


                        tr.append("<p>" + obj.title + "</p>");
                        tr.append("<p>" + obj.description + "</p>");
                        tr.append("<p>" + obj.img_path + "</p>");
                        tr.append("<p>" + obj.createdAt + "</p><hr>");


                        $("#contain").append(tr);
                    });
                    @*if (results.length > 0) {
                    $('#title').text(result[0].title);
                    $('#description').text(result[0].description);
                        $('#img_path').text(result[0].img_path);
                    }
                    else {
                        alert("No data.");
                    }*@
                    console.log("Success: ", result);
                },
                error: function (e) {
                    $("#getResultDiv").html("Error");
                    console.log("ERROR: ", e);
                }

            });

        }


</script>

<style>
    * {
        box-sizing: border-box;
    }

    .left-side img {
        width: 350px;
    }

    .right-side {
        float: right;
    }

        .right-side p {
            min-width: 150px;
        }

    @@media screen and (max-width: 1213px) {
        .right-side {
            float: right;
        }
    }

    @@media screen and (max-width: 770px) {
        .left-side {
            margin: 0 auto;
        }

        .right-side {
            text-align: center;
        }
    }

    @@media screen and (max-width: 365px) {
        .left-side img {
            width: 250px;
            margin: 0 auto;
            min-width: 200px;
        }
    }
</style>
@*<div id="app" class="card-deck pt-4">
        @for (var num = 1; num <= 4; num++)
        {
            var Card = $"Card_{num}";

            <vue-card id="@Card" name="@Card" img="https://vuejs.org/images/logo.png" class="mb-6">
             <h6>Card @num</h6>
            </vue-card>
        }
    </div>*@



<style>
    #app {
        background-color: lightgray;
    }
</style>
