@model Car_Dealership.Models.Warranty

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<h1>Edit</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<h4>Warranty</h4>
<hr />
<div class="table-responsive">
    <div class="form-check mb-2 mr-sm-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-check mb-2 mr-sm-2">
                <label asp-for="warrantyName" class="control-label"></label>
                <input asp-for="warrantyName" class="form-control" />
                <span asp-validation-for="warrantyName" class="text-danger"></span>
            </div>
            <div class="form-check mb-2 mr-sm-2">
                <label asp-for="warrantyYears" class="control-label"></label>
                <input asp-for="warrantyYears" class="form-control" />
                <span asp-validation-for="warrantyYears" class="text-danger"></span>
            </div>
            <div class="form-check mb-2 mr-sm-2">
                <label asp-for="warrantyCoverage" class="control-label"></label>
                <input asp-for="warrantyCoverage" class="form-control" />
                <span asp-validation-for="warrantyCoverage" class="text-danger"></span>
            </div>
            <div class="form-check mb-2 mr-sm-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    form {
        text-align: center;
        background-color: lightblue;
    }

    input[type=button], input[type=submit] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }

    #year {
        background-color: white;
        border: none;
        color: white;
        padding: 16px 32px;
        text-decoration: none;
        margin: 0 auto 0 auto;
        width: 80%;
        cursor: pointer;
    }
</style>
