@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> _signInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Car_Dealership</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    @RenderSection("Styles", required: false)
</head>
<body>

    <header>
               
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-dark  box-shadow mb-3">
            <div class="container">
                <img src="~/img/logo.png" class="logo" />
                <button class="navbar-toggler border-white" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon border-white"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">About Us</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="allNews">Cars</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="NewsUpload">Servivces</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="NewsUpload">Contact</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Autos" asp-action="Index">Cars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Warranties" asp-action="Index">Warranties</a>
                        </li>
                        @if (_signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="ListRoles">Admin Panel</a>
                            </li>
                        }

                    </ul>
                </div>
                </div>
        </nav>

          
    </header>
   


   

        <main role="main" class="pb-3">
            @RenderBody()
        </main>


        <footer>
            <div class="footer text-white bg-dark">
                <div class="container">
                    <div>
                        <h2>Call: (+383) 44 122-133</h2>
                    </div>
                    <div>
                        <p>Magj. Prishtinë-Ferizaj</p>
                    </div>
                    <div>
                        <p>cardealership@gmail.com</p>
                    </div>
                    <div>
                        <p>Mon-Fri: 9am-6pm | Sat: 9am-1pm</p>
                    </div>

                    <div class="copyright">
                        <p><i>Copyright © 2021 CarDealership. All rights reserved</i></p>
                    </div>
                </div>
            </div>
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
